* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #111;
    color: #ccc;
    overflow: hidden;
}


/* HEADER */
header {
    width: 100%;
    /* padding-left: 30px;
    padding-right: 30px; */
}

header #show-songs-btn {
    color: #964343;
    font-family: cursive;
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
    float: right;
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#hide-songs, #hide-playlists {
    display: none;
    position: absolute;
    margin-top: 70px;
    float: right;
    right: 5px;
    color: #964343;
    font-family: cursive;
    font-weight: bold;
    font-size: 1.3em;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#hide-playlists {
    float: left;
    left: 5px;
}

header #show-songs-btn:hover, .lyrics-container #hide-lyrics:hover {
    color: #c56a6a;
}


header span {
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    height: 2px;
    background-color: #964343;
    border-radius: 100%;
}

header .logo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    top: 15px;
}

header .logo img {
    width: 75px;
}

/* header .study-timer {
    position: absolute;
    width: 50%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #d3d3d3;
    font-size: 1.2em;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #404041;
    border-radius: 20px 0;
    padding: 3px 20px;
    font-family: 'New Tegomin', serif;
}

header .study-timer .timer-buttons {
    float: right;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: 20px;
}

header .study-timer .timer-buttons button {
    width: 50px;
    height: 50px;
    font-size: 20px;
    background: transparent;
    border: none;
    color: #d3d3d3;
    transition: 0.5s ease-in-out all;
}

header .study-timer .timer-buttons button:hover {
    color: #964343;
}

header .study-timer .timer-buttons #start-pause-timer {
    float: left;
}
header .study-timer .timer-buttons .timer-paused::after {
    content: '>';
    font-size: 1.2em;
}

header .study-timer .timer-buttons .timer-on::after {
    content: '| |';
    font-weight: bold;
    font-size: 0.8em;
}

header .study-timer .timer-buttons #stop-timer {
    margin-bottom: 8px;
    font-size: 1.5em;
} */

/* MAIN */
audio {
    display: none;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 90%;
    height: 100%;
    margin-top: 4%;
}

.container, .lyrics-container {
    margin-top: 50px;
}

.container {
    position: relative;
    width: 50%;
    height: 50%;
    /* margin-left: 100px; */
    margin-top: 0%;
}

.container .info, .container .actions {
    margin-left: 50%;
    transform: translateX(-50%);
}

.container .song-image {
    width: 150px;
    border-radius: 100%;
    transition: all 0.2s ease;
}


.container .info {
    color: rgb(197, 191, 191);
    text-align: center;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

.container .info h2 {
    font-size: 1.5em;
}

.container .info p {
    font-size: 1.2em;
}

.container input[role="slider"] {
    -webkit-appearance: none;
    position: absolute;
    width: 140px;
    left: 50%;
    transform: translateX(-50%);
    height: 5px;
    border-radius: 25%;
    margin-top: 13px;
    background:#5f2c2c;
    outline: none;
    cursor: pointer;
}

.container input[role="slider"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    appearance: none;
    width: 12px;
    height: 12px;
    background: #964343;
    border-radius: 50%;
}

.container .actions {
    align-items: center;
    text-align: center;
    margin-top: 15px;
    width: 280px;
}

.container .actions .action-btn {
    margin: 20px 15px;
    height: 1.5em;
    width: 1.5em;
    color: rgb(197, 191, 191);
    background: transparent;
    transition: 0.5s ease-in-out all;
}

.container .actions .more-actions-div {
    display: none;
}

#show-playlists-btn {
    display: block;
}

.showLyrics {
    display: none;
    border: 1.5px solid rgb(88, 5, 5);
    border-radius: 20px;
    padding-top: 8px;
    width: 100px;
    height: 25px;
    margin-top: 15px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.showLyrics:hover {
    background:rgb(88, 5, 5);
    border: 2px solid #ddd;
    transition: all 500ms ease-in-out;
}

.showLyrics:hover {
    background: rgb(88, 5, 5);
    border-color: #ddd;
}

.container .actions .show-more-actions {
    position: relative;
    width: 500px;
    animation-name: showMoreActions;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.container .actions .hide-more-actions {
    display: block;
    position: relative;
    left: 0px;
    animation-name: hideMoreActions;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.container .actions .show-more-actions svg {
    width: 40px;
    background-color: transparent;
    border: none;
    margin: 0px;
    font-size: 1em;
    cursor: pointer;
    transition: 0.5s ease-in-out all;
}

.container .actions .show-more-actions button:hover {
    font-size: 1.5em;
}

.container .actions .action-btn:hover {
    cursor: pointer;
    /* color:rgb(88, 5, 5); */
}

.container .actions .show-more-actions input[type="range"] {
    -webkit-appearance: none;
    display: none;
    position: absolute;
    /* transform: rotate(270deg); */
    top: 33px;
    left: 54.5%;
    width: 100px;
    height: 5px;
    border-radius: 50px;
    background:#5f2c2c;
}

.container .actions .show-more-actions input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    appearance: none;
    width: 10px;
    height: 10px;
    background: #755555;
    border-radius: 50%;
}

.container .actions .show-more-actions .shuffle-on {
    transform: rotate(360deg);
    color:rgb(88, 5, 5);
}

.container .actions .show-more-actions .repeat-on {
    transform: rotate(450deg);
    color:rgb(88, 5, 5);
}

/* LYRICS */
.lyrics-container {
    position: relative;
    overflow: auto;
    text-align: center;
    line-height: 30px;
    padding-bottom: 30px;
    width: 40%;
    height: 77%;
    margin-top: 80px;
    border: 1px solid #ccc;
    border-radius: 50px;
    box-shadow: 5px 5px 10px rgba(224, 224, 224, 0.3);
}

.lyrics-container::-webkit-scrollbar {
    width: 5px;
    background: transparent;
}

.lyrics-container::-webkit-scrollbar-thumb {
    visibility: hidden;
    height: 10%;
    border-radius: 50px;
    background-color: #ccc;
}

.lyrics-container .lyrics {
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}

.lyrics-container .lyrics:last-child {
    margin-bottom: 80px;
}

.lyrics-container h2 {
    margin-top: 40px;
    margin-bottom: 40px;
    font-style: italic;
}

.lyrics-container #hide-lyrics {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    font-size: 1.3em;
    background-color: transparent;
    border: none;
    color: rgb(165, 71, 71);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

/* songs div */
.songs-div, .playlists {
    border-radius: 20px;
    position: absolute;
    top: 110px;
    overflow: auto;
    overflow-x: hidden;
}

.songs-div {
    right: 0;
    border-left: 1px solid #6b6a6a;
}

.songs-div .songs-ul li {
    color: rgb(197, 191, 191);
    list-style-type: none;
    margin-top: 30px;
    text-align: center;
    font-size: 1.2em;
    cursor: pointer;
    transition: .7s ease-in-out all;
}

.songs-div .songs-ul li:last-child {
    margin-bottom: 30px;
}

/* .playlists #hide-playlists {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    font-size: 1.3em;
    background-color: transparent;
    border: none;
    color: rgb(165, 71, 71);
    cursor: pointer;
} */

/* SEARCH BAR */
.searchbar {
    position: relative;
    /* margin-bottom: 30px; */
    margin-top: 10px;
}

.searchbar input {
    width: 85%;
    height: 20px;
    margin-left: 5px;
    background: none;
    outline: none;
    border: 2px solid rgb(165, 71, 71);
    border-radius: 30px;
    color: rgb(197, 191, 191);
    padding: 3px 10px;
    font-family: 'New Tegomin', serif;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    transition: all 300ms ease-in-out;
}

.searchbar input:focus {
    border: 2px solid rgb(88, 5, 5);
}

/* playlist list */
.playlists {
    float: left;
    left: 0;
    border-left: none;
    border-right: 1px solid #6b6a6a;
    /* border: 3px solid white; */
}

.playlists ul, .playlists ul li{
    margin: 0;
    padding: 0;
}

.playlists ul li{
    color: rgb(197, 191, 191);
    list-style: none;
    /* border: 3px solid white; */
    /* list-style-type: none; */
    margin-top: 50px;
    text-align: center;
    /* margin-left: 50%; */
    /* transform: translateX(-25%); */
    font-size: 1.2em;
    width: 100%;
    cursor: pointer;
    transition: .7s ease-in-out all;
}

.playlists ul li:first-child {
    color: rgb(214, 127, 127);
    font-style: italic;
}

.playlists ul li:last-child {
    margin-bottom: 20px;
}

.playlists #hide-playlists {
    left: 0px;
}

.show-songs, .show-playlists {
    animation-name: showSongs;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.hide-songs, .hide-playlists { 
    animation-name: hideSongs;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.songs-div::-webkit-scrollbar, .playlists::-webkit-scrollbar {
    width: 5px;
    background: transparent;
}

.songs-div::-webkit-scrollbar-thumb, .playlists::-webkit-scrollbar-thumb {
    background-color: rgb(36, 36, 36);
    border-radius: 18px;
}

.songs-div::-webkit-scrollbar-thumb:hover, .playlists::-webkit-scrollbar-thumb:hover {
    background-color: rgb(95, 95, 95);
}



/*  */
.full-lyrics {
    position: absolute;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

/* keyframes */
@keyframes showSongs {
    0% { max-height: 0vh; }
    100% { max-height: 89vh;}
}

@keyframes hideSongs {
    0% { max-height: 89vh; }
    100% { max-height: 0vh;}
}

@keyframes showMoreActions {
    0% { left: -2000px; }
    100% { left: -103px; }
}

@keyframes hideMoreActions {
    0% { left: 0px; }
    100% { left: -200vw; }
}

/* MEDIA QUERIES */
@media screen and ( max-width: 728px ) {
    /* header #show-playlists-btn {
        margin-left: 10px;
        text-align: left;
        z-index: 9;
    } */

    .songs-div, .playlists {
        height: 300px;
        width: 100px;
    }

    .container {
        text-align: center;
        width: 100%;
    }

    .showLyrics {
        display: block;
    }

    .container .actions .show-more-actions input[type="range"] {
        display: block;
        left: 47%;
    }

    #forwards, #backwards {
        display: none;
    }
}

@media screen and (min-width: 280px ) and ( max-width: 450px ) {
    .songs-div, .playlists {
        height: 250px;
        width: 80px;
    }

    .searchbar input {
        margin-left: 0px;
        width: 100%;
        padding-left: 3px;
        padding-right: 0px;
    }
    .searchbar input::placeholder {
        font-size: 10px;
    }

    .container {
        top: 35%;
        transform: translateY(-20%);
    }
}

@media screen and ( min-width: 400px ) and ( max-width: 600px ) {
    .songs-div, .playlists {
        height: 330px;
        width: 100px;
    }
    
    .container {
        top: 30%;
    }

}

@media screen and ( min-width: 600px ) and ( max-width: 768px ) {
    /* header .study-timer {
        width: 200px;
        height: 50px;
    } */

    .songs-div, .playlists {
        width: 165px;
        height: 85vh;
    }

    .container {
        left: 50%;
        top: 25%;
        transform: translateX(-50%);
    }

    .container .actions .show-more-actions {
        width: 500px;
    } 
}

@media screen and ( min-width: 768px ) and ( max-width: 1023px) {
    header #show-songs-btn {
        font-size: 40px;
    }

    /* header #show-playlists-btn {
        font-size: 60px;
    } */

    .songs-div, .playlists {
        width: 220px;
        height: 87vh;
    }

    .container .song-image {
        width: 200px;
    }
}

@media screen and ( min-width: 1023px ) and ( max-width: 1025px ) {
    /* header .study-timer {
        width: 200px;
    } */

    .container {
        top: 20%;
        left: 50%;
        transform: translateY(-20%), translateX(-50%);
    }

    .songs-div, .playlists {
        height: 750px;
        width: 200px;
    }
}

@media screen and ( min-width: 1028px ) {
    .show-songs, .playlists {
        height: 88vh;
        width: 200px;
    }

    .container {
        top: 20%;
        /* transform: translateY(-50%) translateX(-50%); */
    }
}

@media screen and ( max-height: 600px ) {
    body {
        overflow: auto;
    }
    
    /* header .study-timer {
        left: 430px;
    } */

    .container .info .song-image {
        width: 130px;
    }
    
    .container .info h2 {
        font-size: 1.3em;
    }

    .container .info p {
        font-size: 1em;
    }

    .songs-div, .playlists {
        height: 250px;
        top: 10px;
    }

    .songs-div .songs-ul:last-child {
        margin-bottom: 30px;
    }
}